
body{
    background-color: #1c2d22;
    color: white;
    margin: 0;
    padding: 0;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow:#1c2d22 10px, 0px;

}
header{
    background-image: url(../img/backgroundheader.png);
    background-size: contain;
    background-blend-mode:soft-light;
}
h1{
    text-align: center;
    font-family: "fields", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40pt;
    color: #ccd550;


}
h2{
    text-align: center;
    font-family: "fields", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25pt;
}
h3{ font-family: "proxima-nova", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20pt;
   text-align: center;
    
}

p, ul{
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    font-style: normal;
font-size: 15pt;
}

figure img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
figcaption{
        font-family: "proxima-nova", sans-serif;
        font-weight: 400;
        font-style: italic;
    font-size: 12pt;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    }
section{
    margin: 2% 5% 5% 2%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid #fec5e5 5px;
    padding: 3%;
}
.portfolio{
    padding: 1% 0% 1% 0%;

}
hr{
    border: solid #fec5e5 3px;
}
a,link{
    text-align: center;
    font-family: "fields", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15pt;
    color: #fddc5c;
}
a:hover{
border: #fddc5c;}

footer{
    background-color: #602a20;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    min-width: 100%;
}

